:root {
  --lightGreyBackground: #f2f2f2d3;
  --darkerGreyBackgoud: #f2f2f2ee;
}

* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  overflow-x: hidden;
  /* background-color: var(--lightGreyBackground); */
}

/* Navbar */
.fullNavbar {
  /* justify-content: space-between; */
  width: 100vw;
}

h3 {
  padding-bottom: 1vw;
}

.brandName {
  width: 30%;
  margin-left: 10%;
}

.navbarLinks {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.navbarLinks > * {
  margin-left: 20px;
}

/* IntroSection */
.introSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  min-height: 94vh;
  min-width: 100vw;

  background-color: var(--lightGreyBackground);
  min-height: 100vh;
}

.textSubSection {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
}
.textSubSection > h3 {
  font-size: 56px;
}
.textSubSection > p {
  font-size: 26px;
}

.imgSubSection {
  padding: 35px;
  max-width: 100%;
  /* display: block; */
}

/* ****** article css ****** */
.parent-article {
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--lightGreyBackground);
}

.article {
  max-width: 60%;
  margin: auto;
  background-color: var(--lightGreyBackground);

  display: flex;
  justify-content: space-between;

  box-shadow: 8px 4px 29px 4px rgba(0,0,0,0.33);
-webkit-box-shadow: 8px 4px 29px 4px rgba(0,0,0,0.33);
-moz-box-shadow: 8px 4px 29px 4px rgba(0,0,0,0.33);
}

.left-img-article {
  padding: 20px 50px;
}

.right-text-article {
  text-align: left;
  padding: 10px 20px;
  margin-top: 20px;
}

.article-underline{
    max-width: 80%;
    height: 1px;
    background-color: black;
    margin: 10px 0;

}

.right-text-article h2{
    margin-top: 10px;

}
.right-text-article > p {
  margin-right: 10px;
}


@media (max-width: 840px) {
  .introSection {
    /* flex-direction: column; */
    max-height: 20vw;
    /* display: block; */
    display: flex;
    /* padding: 40px; */
    flex-direction: column;
    justify-content: center;
  }

  .textSubSection {
    margin-bottom: 10%;
  }

  .imgSubSection {
    padding: 0;
  }
}


/* ****** Main Divider ****** */
.mainDivider{
  width:  100%;
  background-color: black;
  color: greenyellow;

  min-height: 70px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.statBlock{

  /* border: white 2px solid; */
}

.statBlock > h3 {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.anim-number{
  font-size: 30px;
  display: inline-block;
  padding: 10px;

}
