/* Navbar */
.fullNavbar{
    /* display: flex; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    width: 100vw;
}


.brandName{
    width: 30%;
    margin-left: 10%;
}

.navbarLinks{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    /* align-items: flex-end; */
}
.navbarLinks > *{
    /* background-color: blue; */
    margin-left: 20px;
}

/* IntroSection */
.introSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    min-height: 75vh;
    min-width: 100vw;


    background-color: darkgray;
}

.textSubSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textSubSection > h3 {
    font-size: 56px;
}
.textSubSection > p {
    font-size: 26px;
}

.imgSubSection{
    padding: 80px;
}